<p><span class="bold-text second-bold">Title:</span><%= @book.title %></p>
<p><span class="bold-text second-bold">Body:</span><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book) %>
<span class="partition">|</span>
<%= link_to "Back", books_path %>